#workbench
  position: relative
  height: 500px
  border: 1px solid red

.domain
  position: absolute
  min-width: 200px
  height: 90px
  background-color: #e2e2e2
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#a2a2a2))
  background: -moz-linear-gradient(top,  #e2e2e2,  #a2a2a2)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#a2a2a2')
  border: 1px solid #000
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  .domain-nob
    float: left
    width: 15px
    height: 100%
    background: url(../images/nobs.png) 50% no-repeat
    &:hover
      cursor: move
      
  .domain-info
    float: right
    padding: 5px 10px
    text-align: right
    h1
      color: #444

.settings-bubble
  position: absolute
  right: -300px
  top: 30px
  width: 300px
  min-height: 200px
  color: #fff
  background-color: #333
  border: 1px solid #fff
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  ul
    list-style: none
    margin: 0
    padding: 0
    li
      height: 30px
      border-bottom: 1px solid #fff