#workbench
  position: relative
  height: 500px
  border: 1px solid red

.domain
  min-width: 200px
  height: 90px
  background-color: #e2e2e2
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#a2a2a2))
  background: -moz-linear-gradient(top,  #e2e2e2,  #a2a2a2)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#a2a2a2')
  border: 1px solid #000
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  .domain-nob
    float: left
    width: 15px
    height: 100%
    background: url(../images/nobs.png) 50% no-repeat
    &:hover
      cursor: move
      
  .domain-info
    float: right
    padding: 5px 10px
    h1
      color: #444